{% extends 'master.html' %}

{% block titulo %}MinijuegosAII{% endblock %}


{% block contenido %}

<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center" style="margin-bottom: 400px;">
    <div class="card card-signin" style="background-color: #e3f2fd;">
        <div class="card-body text-center">
            <h5 class="card-title">¿Qué es MinijuegosAII?</h5>
            <p class="card-text">En MinjuegosAII podemos encontrar todas las categorias y subcategorias junto con sus
            juegos de la página minijuegos.
        </div>
    </div>
</div>


{% endblock %}