{% extends 'master.html' %}

{% block titulo %}<strong>MinijuegosAII</strong>{% endblock %}


{% block contenido %}

<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center" style="margin-bottom: 400px;">
    <div class="card card-signin" style="background-color: #e3f2fd;">
        <div class="card-body text-center">
            <h5 class="card-title">¿Qué es MinijuegosAII?</h5>
            <p class="card-text">En MinijuegosAII podemos encontrar todas las categorias y subcategorias junto con sus
            juegos de la página minijuegos. Incluye además la posibilidad de realizar búsquedas de categorias,
            subcategorias y juegos.
        </div>
    </div>
    {% if not user %}
    <a type="button" class="btn btn-info" href="ingresar">Ingresar</a>
    <a type="button" class="btn btn-info" href="registrar">Registrarte</a>
    {% endif %}
</div>


{% endblock %}