{% load bootstrap4 %}
{% bootstrap_css %}

{% load static %}

<!DOCTYPE html>
<html lang='es'>

<head>
	<meta charset='utf-8'>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #86cfda;"">
    		<a class="navbar-brand" href="\index">MinijuegosAII</a>
    		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
    		</button>
    		<div class="collapse navbar-collapse" id="navbarNavDropdown">
    		    <ul class="navbar-nav">
				{% if user %}
    			    <li class="nav-item dropdown">
    			    	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    			    		Acciones de poblar
    			    	</a> 
    			    	<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
    			    		<a class="{% block poblarWhooshActiva %} {% endblock %}  dropdown-item" href="/populate_whoosh">Poblar Whoosh</a>
    			    		<a class="{% block poblarBDActiva %} {% endblock %}  dropdown-item" href="/populate_django">Poblar base de datos de Django</a>
    			    	</div>  
    			    </li>

					<li class="nav-item dropdown">
    			    	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Acciones de listar
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
							<a class="dropdown-item" href="/listaCategoria">Lista de categorias</a>
						</div>
					</li>

					<li class="nav-item dropdown">
    			    	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Acciones de búsqueda
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
							<a class="dropdown-item" href="/busquedaCategoria">Búsqueda de categoria</a>
							<a class="dropdown-item" href="/busquedaSubcategoria">Búsqueda de subcategoria</a>
							<a class="dropdown-item" href="/busquedaJuego">Búsqueda de juego</a>
						</div>
					</li>
					
                </ul>
				<a type="button" class="btn btn-info btn-sm ml-auto" href="/logout">Logout</a>
				{% endif %}
    		</div>
    </nav>

    <main style="background-color: #EDEEE9;background-position: initial;background-repeat: repeat-y;background-image: url(https://www.minijuegosgratis.com/v3/cdn/assets/653/1514474868653/wallpaper_2018_minijuegos.jpg);">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<h1 class="my-5 text-center" style="color: #fff;">{% block titulo %} {% endblock %}</h1>
				{% block contenido %} {% endblock %}
			</div>
		</div>
	</main>
</body>
</html>



</body>
</html>

{% bootstrap_javascript jquery='full' %}